<div style="background-color: darkcyan">
  <h2> Hey {{ name }},</h2>
<h2>
  Welcome to the jungle!
</h2>
  <p>
    Thanks for joining for us! We're happy to have you.
  </p>
  <br>
   <p>
     You now have account. Thanks to him, you can use various products, applications and services.
   </p>

</div>
